/* PAGE HEADER */
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.page-header h2 {
  font-size: 24px;
  color: #1f2937;
}

/* BUTTON DEFAULT */
.btn {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  background: #e5e7eb;
}

.btn.primary {
  background: #3b82f6;
  color: white;
}

/* FILTERS */
.filter-box {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.filter-input,
.filter-select {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background: white;
  outline: none;
  font-size: 14px;
}

.filter-input {
  width: 260px;
}

.create-order-btn {
  margin-left: auto;   /* đẩy sang bên phải */
}

/* TABLE */
.table-box {
  background: white;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 3px 10px #e5e7eb;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
}

.order-table th {
  padding: 12px;
  text-align: left;
  font-size: 14px;
  color: #6b7280;
  border-bottom: 1px solid #e5e7eb;
}

.order-table td {
  padding: 15px 12px;
  font-size: 15px;
  color: #374151;
  border-bottom: 1px solid #f1f5f9;
}

/* STATUS COLORS */
.status {
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 500;
}

.pending {
  background: #fef3c7;
  color: #d97706;
}

.success {
  background: #d1fae5;
  color: #059669;
}

.cancel {
  background: #fee2e2;
  color: #dc2626;
}

/* ACTION BUTTONS */
.action-btn {
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  margin-right: 8px;
}

.action-btn.edit {
  background: #bfdbfe;
  color: #1d4ed8;
}

.action-btn.delete {
  background: #fecaca;
  color: #b91c1c;
}

/* PAGINATION */
.pagination {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.pagination.right {
  justify-content: flex-end;
}

.page-btn {
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  cursor: pointer;
  background: white;
}

.page-btn.active {
  background: #3b82f6;
  color: white;
  border-color: #3b82f6;
}
.add-order-btn {
  margin-left: auto;
  /* đẩy nút sang phải */
}
