/* WRAPPER */
.add-user-container {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 3px 10px #e5e7eb;
  margin-top: 20px;
  width: 100%;
}

/* FORM GRID */
.add-user-form {
  display: flex;
  gap: 35px;
}

/* LEFT - RIGHT */
.left-column {
  width: 30%;
}

.right-column {
  width: 70%;
}

/* FORM GROUP */
.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #374151;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  background: white;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #3b82f6;
}

/* FILE UPLOAD */
.upload-input {
  padding: 12px;
  background: #f9fafb;
  border: 1px dashed #9ca3af;
  border-radius: 8px;
}

/* BUTTONS */
.btn.primary.save-btn {
  background: #2563eb;
  color: white;
  padding: 12px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn.primary.save-btn:hover {
  background: #1e4fd4;
}

.btn.cancel {
  background-color: #007bff !important;
  color: #fff;              
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.btn.cancel:hover {
  background-color: #0056b3; /* xanh đậm khi hover */
}

/* ACTIONS */
.actions {
  margin-top: 10px;
  display: flex;
  gap: 12px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .add-user-form {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    width: 100%;
  }
}
